// colors
$yellow: #ffd140;
$yellow-overlay: rgba(255, 209, 64, 0.7);
$hot-pink: #ee4367;
$hot-pink-overlay: rgba(238, 67, 103, 0.7);
$green: #08ad69;
$green-overlay: rgba(8, 173, 105, 0.7);
$purple: #540d6e;
$purple-overlay: rgba(84, 13, 110, 0.7);
$cyan: #3bceab;
$cyan-overlay: rgba(59, 206, 171, 0.7);

$grey: #a8a8a8;
$pink: #f56b88;

// sizes
$sitewidth: 980px;
